{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    <title>create_student</title>
{% endblock %}

{% block main %}
    <form method='post'>
        {% csrf_token %}
        {{ form | crispy }}
        <p><button type='submit'>Create student</button></p>
    </form>
{% endblock %}