{% extends '_base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    <title>edit_student</title>
{% endblock %}

{% block main %}
    <form method='post'>
        {% csrf_token %}
        {{ form | crispy }}
        <p>Do you want to delete student {{ student.name }}?</p>
        <p>
            <button class="btn btn-danger" type='submit'>Delete</button>
            <a class="btn btn-info" href="{% url 'students:list_students' %}">Cancel</a>
        </p>
    </form>
{% endblock %}