{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block main %}
    <form>
        <p>Search student</p>
        {{ filter.form | crispy }}
        <p><button type='submit'>Search</button></p>
    </form>
    <br>
    <a href="{% url 'students:create_students' %}">Add new student</a>

    {% include 'students/_students_list.html' with students=page_obj.object_list %}

    {% include '_pagination.html' %}
{% endblock %}