{% extends '_base.html' %}

{% block main %}
    <h2>Group
        {{ group.name }} | <a href="{% url 'groups:edit_group' id=group.id %}">Edit</a>
    </h2>
    <table class="table">
        <tr>
            <th>Course</th>
            <td>{{ group.cours }}</td>
        </tr>
        <tr>
            <th>Start Date</th>
            <td>{{ group.start_date }}</td>
        </tr>
        <tr>
            <th>Headman</th>
            <td>{{ group.headman.name }}</td>
        </tr>
        <tr>
            <th>Teacher</th>
            <td>{{ group.teachers.name }}</td>
        </tr>
    </table>
    <h3>Students</h3>

    {% with students=group.students.all %}
        {% include 'students/_students_list.html' %}
    {% endwith %}

    <h3>Teachers</h3>

    {% with teachers=group.teachers.all %}
        {% include 'teachers/_teacher_list.html' %}
    {% endwith %}
{% endblock %}