
<table class="table table-striped">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Group</th>
        <th>Inn</th>
        <th></th>
    </tr>
    {% for teacher in teachers %}
        <tr>
            <td>{{ teacher.first_name|capfirst }}</td>
            <td>{{ teacher.last_name|title }}</td>
            <td>
                {% if teacher.group_id %}
                     <a href="{% url 'groups:group' id=teacher.group_id %}">
                        {{ teacher.group.name }}
                    </a>
                {% else %}
                    <i>Empty</i>
                {% endif %}
            </td>
            <td>{{ teacher.inn|title }}</td>
            <td><a href="{% url 'teachers:update_teachers' id=teacher.id %}">📝</a>
                <a href="{% url 'teachers:delete_teachers' id=teacher.id %}">🗑</a>
            </td>
        </tr>
    {% endfor %}
</table>
