{% extends '_base.html' %}

{% block title %}
    <title>edit_teachers</title>
{% endblock %}

{% block main %}
    <form method='post'>
        {% csrf_token %}
        <p>Do you want to delete teacher {{ teacher.name }}?</p>
        <p>
            <button class="btn btn-danger" type='submit'>Delete</button>
            <a class="btn btn-info" href="{% url 'teachers:list_teachers' %}">Cancel</button></a>

        </p>
    </form>
{% endblock %}