{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>edit_teachers</title>
{% endblock %}

{% block main %}
    <form method='post'>
        {% csrf_token %}
        {{ form | crispy }}
        <p><button type='submit'>Update teacher</button></p>
    </form>
{% endblock %}