{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block main %}
    <form>
        <p>Search teacher</p>
        {{ filter.form | crispy }}
        <p><button type='submit'>Search</button></p>
    </form>
    <br>
    <a href="{% url 'teachers:create_teachers' %}">Add new teacher</a>

    {% include 'teachers/_teacher_list.html' with teachers=page_obj.object_list %}

    {% include '_pagination.html' %}
{% endblock %}