{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block main %}
    <h2>Change your password</h2>
        <p>Please use the following form to change your password:</p>
        <div class = 'password-change-form'>
            <form class="" action="{% url 'password_change' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" name="" value="Change">
            </form>
        </div>

{% endblock %}