{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block main %}
    <h2>Update Profile</h2>

    <div class="profile-image">
        {% if user.profile.image %}
            <img src="{{ user.profile.image.url }}">
        {% else %}
            <img src="{% static 'images/default.png' %}">
        {% endif %}
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_form|crispy }}
        <div id="div_id_login" class="form-group"><label for="id_login"
                                                         class="">
            User Name
        </label>
            <div><input type="text" name="login" value="{{ user.username }}"
                        maxlength="150" class="textinput textInput form-control"
                        id="id_login"
                        disabled="disabled">
            </div>
        </div>

        {{ user_form|crispy }}
        <p>
            <button type="submit">Update Profile</button>
        </p>
    </form>
{% endblock %}
