<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Title</title>
    {% endblock %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<!--          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
    <style type="text/css">

    </style>
</head>
<body>
    {% include '_header_menu.html' %}

    <div class="container">
        {% include '_messages.html' %}
        {% block main %}
            <H1>Welcome to LMS</H1>
        {% endblock %}
    </div>
</body>
</html>